In [20]:
import pandas as pd 
from main import UserPredictor
model = UserPredictor()
%load_ext autoreload
%autoreload 2
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.preprocessing import PolynomialFeatures, OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import make_column_transformer
from sklearn.model_selection import train_test_split, cross_val_score

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [15]:
train_users = pd.read_csv("data/train_users.csv")
train_logs = pd.read_csv("data/train_logs.csv")
train_y = pd.read_csv("data/train_y.csv")

train_users
train_logs
# train_y

        user_id        date             url  seconds
0             0  10/27/2021  /keyboard.html      159
1             0   3/15/2021   /blender.html       15
2             0   7/29/2021  /keyboard.html       11
3             0   1/27/2021    /laptop.html      142
4             1    3/1/2021  /keyboard.html       78
...         ...         ...             ...      ...
104903    29999    7/5/2021  /keyboard.html       65
104904    29999    3/1/2021   /blender.html      111
104905    29999    7/9/2021    /laptop.html      120
104906    29999  11/13/2021    /tablet.html       24
104907    29999   7/20/2021    /cleats.html      147

[104908 rows x 4 columns]

In [8]:
train_users

       user_id            names  age  past_purchase_amt   badge
0            0  Adriana Mcclure   26          39.344704    gold
1            1    Stacy Gilmore   67          15.840151  silver
2            2     Joanna Walsh   50        1099.420085  bronze
3            3    Eduardo Moore   65           5.880239  bronze
4            4   Angela Freeman   88        1312.296847  bronze
...        ...              ...  ...                ...     ...
29995    29995    William Lewis   87         108.914205  bronze
29996    29996    James Miranda   49         291.969273    gold
29997    29997     Carlos Davis   46           2.609698  bronze
29998    29998    Makayla Smith   23         164.885894  bronze
29999    29999    Tina Anderson   51         161.905284    gold

[30000 rows x 5 columns]

In [21]:
from main import UserPredictor
model = UserPredictor()
train_users = pd.read_csv("data/train_users.csv")
train_logs = pd.read_csv("data/train_logs.csv")
train_y = pd.read_csv("data/train_y.csv")
model.fit(train_users, train_logs, train_y)

model

In [22]:
test_users = pd.read_csv("data/test1_users.csv")
test_logs = pd.read_csv("data/test1_logs.csv")
y_pred = model.predict(test_users, test_logs)

y_pred

array([ True,  True,  True, ..., False,  True,  True])

In [25]:

scores = cross_val_score(model, train_users[xcols], train_y["y"])
print(f"AVG: {scores.mean()}, STD: {scores.std()}\n")

KeyError: "['seconds'] not in index"